* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#basic {
  border-radius: 21px 21px 0 0;
  background-color: #191919;
}

:root {
  --Helvetica-Thin: "Helvetica-Thin";
}

$Helvetica-Thin: var(--Helvetica-Thin);

header {
  .navbar {
    border: 1px solid rgba(255, 255, 255, 0.1);

    >.container {
      max-width: 1298px;
    }

    &__menu {
      display: flex;
      list-style: none;

      &-item {
        font-size: 16px;
        line-height: 23px;
        font-family: $Helvetica-Thin;
        padding: 28.5px 21.5px;
        position: relative;

        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 0;
          height: 2px;
          background: #FFFFFF;
          transform: translateX(-50%);
          transition: all 200ms ease-in-out;
        }

        &:hover {
          &::after {
            width: 70%;
          }
        }
      }

      &-link {
        color: white;
      }
    }

    &__user {
      display: flex;

      &-btn {
        background: none;
        border: none;
        cursor: pointer;

        .ic {
          width: 11px;
          height: 11px;
          background: #8c8c8c;
          margin-left: 11.25px;
        }
      }
    }
  }
}

.searching {
  margin-top: 54.5px;
  >.container {
    width: 1261.9px;
    height: 346.97px;
    background: url("../assets/images/slider_images.png");
    position: relative;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    z-index: 3;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-pagination {
      width: unset;
      bottom: 80px;
      left: 86.5px;

      &-bullet {
        width: 57.39px;
        height: 3px;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 10px;
        opacity: 1;

        &-active {
          background: rgba(255, 255, 255, 1);
        }
      }
    }

    &__title {
      position: absolute;
      top: 40px;
      left: 86.5px;
      max-width: 337px;
      text-align: start;
      text-transform: uppercase;
      font-family: 'Italiana', serif;
      font-size: 61px;
      line-height: 67px;
      color: #C9AC8C;
      z-index: 1;
    }
  }

  &__column {
    position: absolute;
    bottom: -117px;
    left: 50%;
    width: 1114.54px;
    height: 169.42px;
    background: #191919;
    box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    transform: translateX(-50%);

    &-title {
      margin-top: 38px;
      text-align: center;
      font-family: 'Italiana', serif;
      font-size: 31px;
      line-height: 34px;
      color: #C9AC8C;
    }

    &-inputs {
      margin-top: 12.23px;
      display: flex;
      justify-content: center;

      input {
        width: 709.58px;
        height: 47.02px;
        padding: 0 27px;
        background: #404040;
        border: none;
        border-radius: 15px;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 16px;
        color: rgba(255, 255, 255, 1);
        outline: none;

        &::placeholder {
          font-family: sans-serif;
          font-size: 16px;
          line-height: 16px;
          color: rgba(255, 255, 255, 0.3);
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 160.21px;
        width: 100%;
        height: 47.02px;
        margin-left: 14.5px;
        background: #C9AC8C;
        border: none;
        border-radius: 15px;
         font-family: sans-serif;
        font-size: 16px;
        line-height: 16px;
        color: #3C2710;
        cursor: pointer;
        .ic{
          margin-right: 9px;
        }
      }
    }
  }
}
