.ic {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #000;
  -webkit-mask: {
    repeat: no-repeat;
    size: 100%;
    position: center center;
  }
}
.ic_dawn {
  -webkit-mask-image: url("../assets/icons/dawn.svg");
}